html, body {
    background: #eee url('../img/bg.png') bottom left repeat;
}

body {
  padding-top: 40px; /* 60px to make the container go all the way to the bottom of the topbar */
}

.navbar-inner .container {
    padding-left: 22%;
}

#wrapper {
  background: white;
  margin-left: auto;
  margin-right: auto;
  width: 680px;
}

#wrapper.container > .content {
  min-height: 400px;
  background-color: white;
  padding: 40px;
  margin: 0 -20px;
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
  box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
}

#face img {
  width: 50%;
}

#time {
    font-size: 2em;
    float: right;
}
#cross {
    margin-top: 60px;
    font-size: 400px;   
    text-align: center; 
}
#face {
    display: none;
    text-align: center;
}
#game {
    margin-top: 50px;
}
#money {
    font-size: 1.4em;
}
.help {
    font-size: 25px;
    font-weight: 200;
    line-height: 27px;
}
#returns {
    font-size: 18px;
    font-weight: 200;
}
#survey {
    display: none;
}
#rest {
  display: none;
  margin-top: 40px;
}
.clear {
    clear:both;
}
a {
    cursor: pointer;
}
/*    info    */
legend {
    padding-left: 160px;
    width: 480px;
}

/* about */
ol li {
    margin-top:15px;
}