body {
  padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

.navbar-inner .container {
    padding-left: 20%;
}

#wrapper {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
}

#face img {
    width: 50%;
}

#time {
    font-size: 2em;
    float: right;
}
#cross {
    margin-top: 40px;
    font-size: 200px;   
    text-align: center; 
}

#game {
    margin-top: 20px;
}

.help {
    font-size: 20px;
    font-weight: 200;
    line-height: 27px;
}
.clear {
    clear:both;
}
a {
    cursor: pointer;
}