<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Trust Game</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Trust Game</a>
          <div class="nav-collapse">
            <ul class="nav">
                <li><a href="/">Start</a></li>
                <li class="active"><a href="/about">About</a></li>
                <li><a href="/test">Test</a></li>
                <li><a href="/game">Game</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div id="wrapper" class="container">
        <div class="content" style="font-size: 1.1em;">
            <h2 style="text-align:center;">实验介绍</h2>
            <ol>
                <li>这是一个类似于老虎机游戏的实验，你需要与6个不同的虚拟玩家进行金钱游戏，每次15回合；</li>
                <li>每个回合开始前，屏幕上会呈现“+”，请做好准备；</li>
                <li>在每个回合中你都得到10元钱，你可以选择性地投资给对手0-10元；<br/>
                （注意：请在8秒内给出投资金额，否则10元钱将被没收并直接进入下一轮）</li>
                <li>投资之后，对手将投资翻至原来的4倍，他可能会给予翻倍后一半的钱数作为回报，也可能吞掉全部的钱；</li>
                <li>同每一个虚拟玩家游戏结束后需要对其进行评价，之后可以稍事休息，然后同下一个玩家开始游戏。</li>
            </ol>
            <br/>
            当你明白上述实验步骤后，可以先进行一组练习。练习结束后请点击“正式实验”按钮开始
            <p style="width: 50%;margin-left:auto;margin-right:auto;margin-top:30px;">
            <a class="btn btn-primary btn-large" href="/test">开始练习</a>
            <a class="btn btn-large pull-right" href="/game">正式实验</a>
            </p>
        </div>
    </div>
</body>
</html>
      
      
