$def with (msg)
<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Trust Game</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Trust Game</a>
          <div class="nav-collapse">
            <ul class="nav">
                <li class="active"><a href="/">Start</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/test">Test</a></li>
                <li><a href="/game">Game</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div id="wrapper" class="container">
        <div class="content">
            <form class="form-horizontal" method="post">
                <fieldset>
                  <legend>Please input your information</legend>
                  <br/>
                  <br/>
                  <div class="control-group">
                    <label class="control-label" for="age">Age</label>
                    <div class="controls">
                      <input type="text" class="input-large" id="age" name="age">
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label" for="select01">Gender</label>
                    <div class="controls">
                        <label class="radio inline">
                          <input type="radio" id="male" value="male" name="gender"> Male
                        </label>
                        <label class="radio inline">
                          <input type="radio" id="famale" value="female" name="gender"> Female
                        </label>
                    </div>
                  </div>
                  <div class="control-group">
                    <div class="controls">
                        $if msg:
                            <span class="alert alert-error">
                            $msg
                            </span>
                            <br/><br/>
                      <button type="submit" class="btn btn-primary">Submit</button>
                      <!--<button class="btn">Cancel</button>-->
                    </div>
                  </div>
                </fieldset>
            </form>
        </div>
    </div>
</body>
</html>
      
      
